<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.css" rel="stylesheet"/>
    <script src="http://localhost:35729/livereload.js" defer></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" defer></script>
    <script src="/js/user-list.js" defer></script>
</head>
<body>
<div class="wrapper-user"></div>
<button type="button" onclick="location.href='/user/add'">add</button>
</body>
</html>