<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.css" rel="stylesheet"/>
    <script src="http://localhost:35729/livereload.js" defer></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" defer></script>

    <script th:inline="javascript">
    const personId = /*[[${data.id}]]*/ 'null';
    console.log(personId)
    </script>

    <script src="/js/person-one.js" defer></script>
</head>
<body>
<form action="#" th:action="@{/api/v1/person/{id}(id=${data.id})}" th:method="put">
    <div class="field-wrapper">
        <div class="fw-item">
            <label>name</label> <input type="text" name="name"><br>
        </div>
        <div class="fw-item">
            <input type="submit" value="update">
        </div>
    </div>
</form>
<div class="wrapper-person1"></div>
</body>
</html>